{%- assign on_sale = false -%}
{%- if product.compare_at_price > product.price -%}
{%- assign on_sale = true -%}
{%- endif -%}
{%- assign sold_out = true -%}
{%- if product.available -%}
{%- assign sold_out = false -%}
{%- endif -%}
{%- assign variant = product.selected_or_first_available_variant -%}
{%- if product.available -%}
{%- assign func = "Shopify.addItem(" | append: variant.id | append: ", 1)" -%}
{%- endif -%}
<div class="single-product-wrap {% unless product.available %}stock-out{% endunless %}">
    <div class="product-image {% unless product.available %}stock-out{% endunless %}">
        <a class="pro-img" href="{{ product.url | within: collection }}">
            <img class="img-fluid img1" src="{{ product.featured_image.src | img_url : '600X550', crop: 'center' }}" alt="{{ product.featured_image.src.alt | escape  }}">
            <img class="img-fluid img2" src="{{ product.images[1] | img_url: '600X550', crop: 'center' }}" alt="{{ product.images.last.alt | escape }}" />
        </a>
        <div class="product-label">
            {%- include 'product-label' -%}
        </div>

        {% if product.available %}
        <div class="product-action">
            <a href="javascript:void(0);" onclick="{{ func }}; return false;" class="add-to-cart ajax-spin-cart" id="cart-{{product.id}}">
                <span class="cart-title">{{ 'products.product.add_to_cart' | t }}</span>
                <span class="cart-loading animated infinite rotateOut"><i class="feather-loader"></i></span>
                <span class="cart-added">
                    <i class="feather-check"></i>
                <span class="cart-unavailable"><i class="ti-alert"></i></span>
            </a>
            {% include 'wishlist-button' %}
            <a href="javascript:void(0);" onclick="quiqview('{{ product.handle | handleize }}')" class="quick-view">
                <span class="icon">
                    {% if settings.quick_view_icon %}{{ settings.quick_view_icon }}{% else %}<i class="ti-eye"></i>{% endif %}
                </span>
            </a>
        </div>
        {% endif %}
    </div>
    <div class="product-content">
        <form action="/cart/add" method="post" class="cart" enctype="multipart/form-data" id="add-item-form-{{product.id}}">
            <a class="product-title" href="{{ product.url | within: collection }}" title="{{ product.title }}">{{ product.title }}</a>
            <div class="price-box">
                <span class="new-price">{{ product.price | money }}</span>
                {% if product.compare_at_price_max > product.price %}
                <span class="old-price">{{ product.compare_at_price | money }}</span>
                {% endif %}
            </div>
            <div class="product-ratting">
                <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
            </div>
            <div class="product-description">
                {{ product.metafields.my_fields.short_description }}
            </div>
            {% if product.available %}
            <div class="product-action">
                {% include 'wishlist-button' %}
                <a href="javascript:void(0);" onclick="quiqview('{{ product.handle | handleize }}')" class="quick-view">
                    {% if settings.quick_view_icon %}{{ settings.quick_view_icon }}{% else %}<i class="ti-eye"></i>{% endif %}
                </a>
                <a href="javascript:void(0);" onclick="{{ func }}; return false;" class="add-to-cart ajax-spin-cart" id="cart-{{product.id}}">
                    <span class="cart-title">{% if settings.mini_cart_icon %}{{ settings.mini_cart_icon }}{% else %}<i class="ti-shopping-cart"></i>{% endif %}</span>
                    <span class="cart-loading animated infinite rotateOut"><i class="feather-loader"></i></span>
                    <span class="cart-added"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"/></svg></span>
                    <span class="cart-unavailable"><i class="ti-alert"></i></span>
                </a>
            </div>
            {% endif %}
        </form>
    </div>

<!-- **BEGIN** Hextom USB Integration // Collection Include - DO NOT MODIFY -->
    {% render 'hextom_usb_coll', product: product %}
    <!-- **END** Hextom USB Integration // Collection Include - DO NOT MODIFY -->
</div>